body{
	background-color: #212121;/*background colour */
	color: white;/*font color*/
    font-family: 'Montserrat', sans-serif;/*font style*/
    font-size: 11px;/* font size*/
}

h2 a { 
	color: white; /*font color*/
	text-decoration: none; 
	padding-left: 150px; /*padding from the left*/
	width: 100%;/*max width*/
	}

h2 a:hover {
   	opacity: 0.3;/* while hovering the opacity decreases*/
    text-decoration: underline;/*underlines when hovering*/
			}

.container{
	display: flex; /*displays flex items*/
	flex-direction: row; /*displays flex item in rows*/
	justify-content: flex-end; /*displays flex item towards the right*/
	padding: 1%; /*padding between items*/
	 		}

.contents{
	background-color: #FFB300; 
	padding: 20px; /*adds some padding*/
	color: black;/*font color*/
	font-size: 25px;/*font size*/ 
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* creates a shadow effect*//* creates a shadow effect*/
	text-shadow: 0.5px 0.5px 1px #000000; /* creates a shadow effect*/
		  }

input[type=text], select, textarea {
    width: 100%; /* max width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* To make the borders round */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
		}

textarea{
	resize: none; /*this will make sure the text size is not resizable*/
		}

.frame {
    position: relative;/*specifies the type of positioning method used*/
    padding-bottom: 25%;/*some bottom padding*/
    padding-top: 30px; /*some top padding*/
    height: 0;/*gives some height*/
    overflow: hidden;  /*this hides content which are extensive*/
     }

.frame iframe {
    position: absolute;/*specifies the type of positioning method used*/
    top: 0;
    left: 0;
    width: 100%;/*gives some width*/
    height: 100%;/*gives some height*/
}

footer{
	padding-top: 100px;/*some padding from the top*/
	text-decoration: underline; /* underlines the footer */
	text-align: center;/* aligns the footer at the center*/
	}

@media screen and (max-width: 600px){/*makes the website responsive*/
	
	.container {
	flex-direction: column;/*display flex items in columns*/
	text-align: center;/*texts are aligned in center*/
		       }
		h2 a {
		width: 100%; /*width of the text*/
			}
		}
